Flask==0.10.1
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
WTForms==2.1
Werkzeug==0.11.9
argparse==1.2.1
beautifulsoup4==4.4.1
gunicorn==19.4.5
html5lib==0.9999999
itsdangerous==0.24
pymongo==3.2.2
redis==2.10.5
requests==2.9.1
six==1.10.0
wsgiref==0.1.2
