Flask==0.10.1
Flask-Login==0.3.2
Flask-Moment==0.5.1
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
WTForms==2.1
Werkzeug==0.11.4
argparse==1.2.1
beautifulsoup4==4.4.1
bs4==0.0.1
gunicorn==19.4.5
html5lib==0.9999999
itsdangerous==0.24
requests==2.9.1
six==1.10.0
wsgiref==0.1.2
