{% extends "base.html" %}

{% block page_content %}
    <h2>近期兼职信息</h2>
    <br/>
    <div class="part_time_content">
        <h3>1. XX单位招聘XX人员X名</h3>
        <h4>时间：2016年9月5日 星期一</h4>
        <p>内容：12341234</p>
    </div>

    <div class="part_time_content">
        <h3>1. XX单位招聘XX人员X名</h3>
        <h4>时间：2016年9月5日 星期一</h4>
        <p>内容：12341234</p>
    </div>
    <div class="part_time_content">
        <h3>1. XX单位招聘XX人员X名</h3>
        <h4>时间：2016年9月5日 星期一</h4>
        <p>内容：12341234</p>
    </div>
    <div class="part_time_content">
        <h3>1. XX单位招聘XX人员X名</h3>
        <h4>时间：2016年9月5日 星期一</h4>
        <p>内容：12341234</p>
    </div>
    <div class="part_time_content">
        <h3>1. XX单位招聘XX人员X名</h3>
        <h4>时间：2016年9月5日 星期一</h4>
        <p>内容：12341234</p>
    </div>


{% endblock %}
