{% extends "layout.html" %}

{% block content %}
<h3>图书馆历史借阅情况如下：</h3>

<table class="table table-bordered">
    <tr>
        <td class="success">序号</td>
        <td class="success">条码号</td>
        <td class="success">题名</td>
        <td class="success">责任者</td>
        <td class="success">借阅日期</td>
        <td class="success">应还日期</td>

    </tr>
    {% for book in books %}
    <tr>
        <td class="info">{{ book['xuhao'] }}</td>
        <td class="info">{{ book['number'] }}</td>
        <td class="info">{{ book['name'] }}</td>
        <td class="info">{{ book['author'] }}</td>
        <td class="info">{{ book['borrowing_date'] }}</td>
        <td class="info">{{ book['return_date'] }}</td>

    </tr>
    {% endfor %}

</table>
{% endblock %}
