{% extends "layout.html" %}
{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message1 }}</h3>
<address>sdutlinux:<a href="http://sdutlinux.org">sdutlinux.org</a><br /></address>


<h3>{{ message2 }}</h3>
<address>news:<a href="http://news.sdut.edu.cn">news.sdut.edu.cn</a><br /></address>


<h3>{{connection}}</h3>
<address>
    <strong>Tel:17865983211</strong><br />
    <strong>Email :</strong>   <a href="mailto:i@lvhuiyang.cn">i@lvhuiyang.cn</a><br />
  
</address>

{% endblock %}
