<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>building</title>
    <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/content/site.css"/>
    <script src="../static/scripts/modernizr-2.6.2.js"></script>
</head>
<body>


<h3>绑定完成，您可以实现一键查询了。</h3>
<script src="../static/scripts/jquery-1.10.2.js"></script>
<script src="../static/scripts/bootstrap.js"></script>
<script src="../static/scripts/respond.js"></script>
</body>
</html>