{% extends "layout.html" %}

{% block page_content %}


    <form method="post" class="form-signin">
        <h2 class="form-signin-heading">课表查询</h2>
        {{ form.hidden_tag() }}
        {{ form.number.label }} {{ form.number( class="form-control",placeholder="学号") }}
        <br/>
        {{ form.passwd.label }} {{ form.passwd(class="form-control",placeholder="密码") }}
        <br/>
        {{ form.check_code.label }} {{ form.check_code(class="form-control",placeholder="验证码") }}
        <br>
        <input type="hidden" value="{{ ls_f}}" name="check_base64">
        <img src="data:image/bmp;base64,{{ ls_f }}">
        {{ form.submit1(class="btn btn-lg btn-primary btn-block") }}

    </form>




{% endblock %}
