{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}首页{% endblock %}

{% block page_content %}


<div class="row">
    <div class="col-sm-4">
        <h3><a href="/jwc">教务处成绩查询（需验证码）</a></h3>

        <p>学的不仅是技术，更是梦想！</p>

        <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
    </div>
    <div class="col-sm-4">
        <h3><a href="score">综合成绩查询</a></h3>

        <p>学的不仅是技术，更是梦想！</p>

        <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
    </div>
    <div class="col-sm-4">
        <h3><a href="library">图书馆借阅查询</a></h3>

        <p>学的不仅是技术，更是梦想！</p>

        <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
    </div>
    <div class="col-sm-4">
        <h3><a href="ecard">一卡通余额查询</a></h3>

        <p>学的不仅是技术，更是梦想！</p>

        <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
    </div>
    <div class="col-sm-4">
        <h3><a href="donation">赞助我们</a></h3>

        <p>学的不仅是技术，更是梦想！</p>

        <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
    </div>
    <div class="col-sm-4">
        <h3><a href="#">未开发</a></h3>

        <p>学的不仅是技术，更是梦想！</p>

        <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
    </div>


</div>


{% endblock %}
