{% extends "base.html" %}

{% block content %}

    <div class="jumbotron">
        <h1>New gotit</h1>
        <h3>山东理工大学校内信息查询系统</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>教务处成绩查询</h2>
            <h4>教务处成绩查询（需验证码）</h4>
            <h4>数据来自山东理工大学正方教务系统</h4>
            <p><a class="btn btn-primary btn-large" href="{{ url_for('main.zhengfang') }}">Go on &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>综合成绩查询</h2>
            <h4>综合成绩查询（仅需学号）</h4>
            <h4>数据来自山东理工大学教务处</h4>
            <p><a class="btn btn-primary btn-large" href="{{ url_for('main.find') }}">Go on &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>图书馆借阅查询</h2>
            <h4>查看图书借阅情况</h4>
            <h4>数据来自山东理工大学图书馆</h4>
            <p><a class="btn btn-primary btn-large" href="{{ url_for('main.library') }}">Go on &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>课表查询</h2>
            <h4>需要验证码</h4>
            <h4>数据来自山东理工大学正方教务系统</h4>
            <p><a class="btn btn-primary btn-large" href="{{ url_for('main.zhengfang_class') }}">Go on &raquo;</a></p>
        </div>
    </div>

{% endblock %}
