{% extends "layout.html" %}

{% block page_content %}

    <h3>课表查询</h3>
    <p>您的账号:{{ number }}</p>
    <p>密码已经帮您记住啦，无需输入</p>
    <form action="{{ url_for('wechat_class') }}" method="post">
        <input type="hidden" value="{{ number }}" name="number"/>
        <input type="hidden" value="{{ passwd }}" name="passwd"/>
        {{ form.check_code.label }} {{ form.check_code(class="form-control",placeholder="验证码") }}
        <input type="hidden" value="{{ ls_f }}" name="check_base64">
        <img src="data:image/bmp;base64,{{ ls_f }}">
        <h3><input class="btn-info" type="submit" value="点击查看课表情况"></h3>

    </form>



{% endblock %}
